@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; }

/* Write html over canvas */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.container {
  display: flex; }

.center-content {
  justify-content: center; }

.box_contents {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  transform: translateY(10%); }

.bottom {
  align-self: flex-end; }

/* Align text */
.text-center {
  text-align: center; }

/* Remove style and padding from a list */
ul {
  padding: 0;
  list-style-type: none; }

/* Set horizontal list */
#social ul li {
  display: inline-block; }

/* Resize images in list */
ul li img {
  width: 80px;
  /* you can use % */
  height: auto; }

/* Vertical line */
.vr {
  border-right: 1px solid #021a40; }

/* Animation taken from https://codepen.io/mladen___/pen/gbvqBo */
#canvas {
  background-color: white;
  width: 100%;
  height: 100%; }

#canvas-wrap {
  position: relative;
  width: 100%;
  height: 100%; }

button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 60px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  outline: none; }

button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: black;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box; }

@media screen and (max-width: 640px) {
  button.scroll_down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 30px;
    bottom: 90px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    outline: none; } }
@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#container_list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 110px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap; }

#container_list li {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px; }

#container_list li img {
  width: 100px;
  height: 100px; }

/*@import "_loading"; */
body {
  background: #f2f2f2;
  color: #444444; }

.report {
  margin: 5% auto;
  background: #f2f2f2;
  color: #444444;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  padding: 4em 1em;
  text-shadow: 0 1px 0 #ffffff;
  max-width: 73%; }

.report img {
  width: 100%;
  max-height: 500px;
  height: auto;
  object-fit: contain; }

h2 {
  margin-top: 1em;
  padding-top: 1em; }

h1, h2, strong {
  color: #333; }

.report ul {
  list-style-type: square; }

/* Taken from https://codepen.io/jamesmellers/pen/XKmyoo */
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }
#main_title a {
  color: black;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

#main_title a:before,
#main_title a:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 40%;
  display: block;
  border: 15px solid #6d071a;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy; }

#main_title a:before {
  border-color: #54afd6 #d66c54 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1; }

#main_title a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d66c54 #54afd6;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8); }

/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+python */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function,
.token.class-name {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/*# sourceMappingURL=style.css.map */
